.motivation {
    background-image: url('/images/motivation_back.png');
    background-repeat: no-repeat; /* Prevent image from repeating */
    background-position: cover;
    display: flex;
    justify-content: center; /* horizontally center */
    &__container {
        text-align: center;
    }
    &__
    &__button {
        display: inline-block;
    }
  }
  