.weekend {
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f5f5f5;

        &__upper,
        &__bottom {
            background-size: cover; 
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        &__upper {
            background-image: url('/images/frame__ocean.png');
        }
        &__bottom {
            background-image: url('/images/frame__mountain.png');
        }
    }
    &__card {
        display: flex;
        max-width: 1168px;
        &__upper {
            padding-top: 207px;
        }
        &__bottom {
            padding-top: 192px;
            padding-bottom: 305px;
        }
    }
    &__card__info {
        &__mountain {
            padding-left: 124px;
        }
        &__ocean {
            padding-right: 124px;
        }
    }
    &__sub-title {
        padding-top: 25px;
        color: #9a9292;
    }
    &__learn__more__btn {
        margin-top: 20px;
        font-size: 18px;
        border-radius: 32px;
        background: #DD2242;
        width: 180px;
        height: 60px;
    }

    img {
        width: 630.343px;
        height: 460px;
    }

    @media (max-width: 425px) {
        &__container {
            max-width: 425px;
        }
        &__card {
            display: flex; /* Используем flexbox для центрирования */
            flex-direction: column; /* Располагаем элементы вертикально */
            align-items: center; /* Центрируем элементы по горизонтали */
            text-align: center;

            &__upper {
                display: block;
                padding: 3rem 0;
            }
            &__bottom {
                display: flex;
                flex-direction: column;
                align-items: center;
                  img {
                    width: 314px;
                    height: 232px;
                    margin-top: -595px;
                  }
            }
            &__info {
                display: block;
                padding: 0 3rem;
                &__ocean {
                    margin-top: 20px;
                }
            }
        }
        &__title {
            padding-top: 2rem;
            text-align: left;
        }
        &__sub-title {
            text-align: left;
            font-size: 16px;
            font-weight: 400;
        }
        &__learn__more__btn {
            width: 315px;
            height: 68px;
        }
        img {
            width: 314px;
            height: 232px;
            flex-shrink: 0;
        }
    }
}
